<div style="text-align:center">
	<div>
		<div fxFlex fxLayoutAlign="center center">
			<h1 fxFlex="nogrow">
				Recording #{{recording?.human_id}}
				<div *ngIf="loading" fxFlex="nogrow">
					<mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
				</div>
			</h1>
		</div>
	</div>
	<mat-tab-group>
		<mat-tab label="Overview">
			<mat-card>
				<mat-card-header class="overview-header">
					<div mat-card-avatar class="overview-image"></div>
					<mat-card-title>Recording Details</mat-card-title>
					<mat-card-subtitle>Overview</mat-card-subtitle>
				</mat-card-header>
				<div mat-card-image class="protocol-diagram" *ngIf="recording && recording.summary.sequence">
					<div style="width: 100%">
						<div fxLayout="row wrap" fxLayoutAlign="space-around center" >
							<div fxFlex *ngFor="let elem of dt?.summary.sequence">
								<div fxFlex="column" fxFlex="<shrink> <shrink> <shrink>" class="exp">
									<img src="assets/{{elem.img}}" />
									<div fxLayoutAlign="center" *ngFor="let dtl of elem.details">{{dtl}}</div>
								</div>
								<div fxFlex="grow" fxLayoutAlign="center center" class="exp-arrow">
									&#10143;
								</div>
							</div>
						</div>
					</div>
				</div>

				<div mat-card-image class="cafdata" *ngIf="recording && recording.summary.youtube_safe">
					<iframe [src]='dt.summary.youtube_safe' frameborder="0" class="cafdata" allowfullscreen></iframe>
				</div>


				<mat-card-content>

					<div fxFlexFill *ngIf="recording && recording.summary.entries" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between none">
						<div fxLayoutAlign="left center" class="desc-entry" *ngFor="let entry of recording.summary.entries">
							<mat-icon class="desc-icon">{{entry.icon}}</mat-icon>
							<div fxLayout="column">
								<div><b>{{entry.name}}:</b></div>
								<div>{{entry.value}}</div>
							</div>
						</div>

					</div>
					<div>
						<div><b>Experiment:</b></div>
						<mat-chip-list>
							<mat-chip>{{recording?.experiment || 'Not available'}}</mat-chip>
						</mat-chip-list>
					</div>

					<div>
						<div><b>Tags:</b></div>
						<mat-chip-list>
							<mat-chip *ngFor="let tag of recording?.tags">{{tag}}</mat-chip>
						</mat-chip-list>
					</div>
				</mat-card-content>
				<mat-card-actions>
				</mat-card-actions>
			</mat-card>

			<mat-card *ngFor="let dt of data_types">
				<mat-card-header class="overview-header">
					<div mat-card-avatar class="overview-image"></div>
					<mat-card-title>{{dt.name}}</mat-card-title>
					<mat-card-subtitle>Summary</mat-card-subtitle>
				</mat-card-header>

				<div mat-card-image class="protocol-diagram" *ngIf="dt.summary && dt.summary.sequence">
					<div style="width: 100%">
						<div fxLayout="row wrap" fxLayoutAlign="space-around center" >
							<div fxFlex *ngFor="let elem of dt?.summary.sequence">
								<div fxFlex="column" fxFlex="<shrink> <shrink> <shrink>" class="exp">
									<img src="assets/{{elem.img}}" />
									<div fxLayoutAlign="center" *ngFor="let dtl of elem.details">{{dtl}}</div>
								</div>
								<div fxFlex="grow" fxLayoutAlign="center center" class="exp-arrow">
									&#10143;
								</div>
							</div>
						</div>
					</div>
				</div>

				<div mat-card-image class="cafdata" *ngIf="dt.summary && dt.summary.youtube_safe">
					<iframe [src]='dt.summary.youtube_safe' frameborder="0" class="cafdata" allowfullscreen></iframe>
				</div>

				<mat-card-content *ngIf="dt.summary">
					<div fxFlexFill fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between none" *ngIf="dt.summary.entries">
						<div fxLayoutAlign="left center" class="desc-entry" *ngFor="let entry of dt.summary.entries">
							<mat-icon class="desc-icon">{{entry.icon}}</mat-icon>
							<div fxLayout="column">
								<div><b>{{entry.name}}:</b></div>
								<div>{{entry.value}}</div>
							</div>
						</div>
					</div>
				</mat-card-content>
				<mat-card-actions>
				</mat-card-actions>
			</mat-card>

		</mat-tab>

		<div *ngFor="let dt of data_types">
			<mat-tab label="{{getShortName(dt)}}">
				<mat-card *ngFor="let v of dt.vis">
					<div *ngIf="v">
						<mat-card-header class="beh-header">
							<div mat-card-avatar class="beh-image"></div>
							<mat-card-title>{{v.data.title}}</mat-card-title>
							<mat-card-subtitle>{{v.data.subtitle}}</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<div *ngIf="v.data.plot" mat-card-image ><plotly-plot [data]="v.data.plot.data" [layout]="v.data.plot.layout" class="addon_plot" [useResizeHandler]="true"></plotly-plot></div>
							<div [innerHTML]="v.data.html"></div>
						</mat-card-content>
					</div>
					<div *ngIf="!v" fxFlexFill>
						<div fxLayoutAlign="center center">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>
					</div>
				</mat-card>

			</mat-tab>
		</div>

		<div *ngIf="recording && recording.ana.length > 0">
			<mat-tab label="Analysis">
				<mat-card *ngFor="let a of recording.ana">
					<div *ngIf="a" fxFlexFill>
						<mat-card-header class="beh-header">
							<div mat-card-avatar class="beh-image"></div>
							<mat-card-title>{{a.data.title}}</mat-card-title>
							<mat-card-subtitle>{{a.data.subtitle}}</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content fxFlexFill>
							<div *ngIf="a.data.plot" mat-card-image fxLayoutAlign="center center"><plotly-plot [data]="a.data.plot.data" [layout]="a.data.plot.layout" class="addon_plot" [useResizeHandler]="true"></plotly-plot></div>
							<div [innerHTML]="a.data.html"></div>
						</mat-card-content>
					</div>
					<div *ngIf="!a" fxFlexFill>
						<div fxLayoutAlign="center center">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>
					</div>
				</mat-card>
			</mat-tab>
		</div>
	</mat-tab-group>


