<mat-card>
	<table mat-table [dataSource]="response?.recordings" fxFill>

		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> ID </th>
			<td mat-cell *matCellDef="let element">
				<a href="recording/{{element._id}}">{{element.human_id}}</a> 
			</td>
		</ng-container>

		<ng-container *ngFor="let uc of userCols" [matColumnDef]="uc.def">
			<th mat-header-cell *matHeaderCellDef> {{uc.name}} </th>
			<td mat-cell *matCellDef="let element">
					{{element.custom[uc.name] || 'N/A'}}
			</td>
		</ng-container>


		<ng-container matColumnDef="experiment">
			<th mat-header-cell *matHeaderCellDef> Experiment </th>
			<td mat-cell *matCellDef="let element">
				<mat-chip-list>
					<mat-chip>{{element.experiment || 'Not available'}}</mat-chip>
				</mat-chip-list>
			</td>
		</ng-container>

		<ng-container matColumnDef="tags">
			<th mat-header-cell *matHeaderCellDef> Tags </th>
			<td mat-cell *matCellDef="let element">
				<mat-chip-list>
					<mat-chip *ngFor="let tag of element.tags">{{tag}}</mat-chip>
				</mat-chip-list>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="dispCols"></tr>
		<tr mat-row *matRowDef="let row; columns: dispCols;"></tr>
	</table>
	<mat-paginator [length]="response?.n_entries"
			 [pageSize]="response?.pg_size" 
			 >
	</mat-paginator>
</mat-card>
